# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

If we want to represent a group of objects as key-value pairs then we should go for Dictionary.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Hrutik' , 'age' : 23 , 'gender' : 'male' }


#### Topics to be covered
- Properties of dictionary
- Characteristics of dictionary
- What are dictionary?
- dictionary Vs Arrays
- How dictionary are stored in memory
- create a dictionary
- Access items from a dictionary
- Editing items in a dictionary
- Operations on dictionary
- Functions on dictionary

#### Properties of dictionary
- Duplicate keys are not allowed but values can be duplicated.
- Hetrogeneous objects are allowed for both key and values.
- insertion order is not preserved
- Dictionaries are mutable
- Dictionaries are dynamic
- indexing and slicing concepts are not applicable

#### Characterstics:
- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

# Creating Dictionary
we can create empty dictionary with the help of `{}` curly braces<br>
`dict()` function also used to create dictionary

In [1]:
# This function is used to make empty dictionary
# empty dictionary

d = dict()
type(d)

dict

In [2]:
# this is another way of defining dictionary
# empty dictionary

d = {}    
type(d)

dict

In [3]:
# writing key value pairs seperated by colon inside curly braces is another way of creating dictionary
# 1D dictionary

d1 = { 'name' : 'nitish' ,'gender' : 'male' }
print(d1)

{'name': 'nitish', 'gender': 'male'}

In [4]:
# with mixed keys
d2 = {(1,2,3):1, 'hello':'world'}
print(d2)

{(1, 2, 3): 1, 'hello': 'world'}

In [5]:
# 2D dictionary -> JSON

d3 = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(d3)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [6]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
print(d4)

{'name': 'nitish', 'age': 32, 3: 3}

In [7]:
# duplicate keys --> if we have duplicate key then dict will take value assigned to last occurence of key
d5 = {'name':'Hrutik','name':'Om'}
print(d5)

{'name': 'Om'}

In [8]:
# mutable items as keys
d6 = {'name':'nitish',2 :(1,2,3)}
print(d6)

{'name': 'nitish', 2: (1, 2, 3)}

In [9]:
# we are creating empty dictionary and adding key:value pair to it
# dict[key] = value  --> this adds key value pair in dictionary

d7 = {}
d7[100] = "Hrutik"
d7[200] = "Om"
d7[300] = "Shiv"
print(d7)

{100: 'Hrutik', 200: 'Om', 300: 'Shiv'}

# Accessing dictionary

In [10]:
my_dict = {'name': 'Jack', 'age': 26}

print(my_dict['name'])
print(my_dict['age'])

Jack
26

In [11]:
# accessing dictionary value by referring to its key

myphone = {'brand': 'apple', 'color': 'gray', 'model': 'iphoneX', 'number': '7700203097'}

print(myphone['brand'])
print(myphone['model'])

apple
iphoneX

In [12]:
'My phone is of '+ myphone['color'] +' color'

'My phone is of gray color'

In [13]:
# accessing the item that is not present in dictionary gives KeyError

myphone['not in dictionary']

KeyError: 'not in dictionary'

# Editing dictionary

In [14]:
# changing the value of a key 

myphone['brand'] = 'samsung'

In [15]:
myphone

{'brand': 'samsung',
 'color': 'gray',
 'model': 'iphoneX',
 'number': '7700203097'}

In [16]:
# if the given key is not in dictionary
# then it adds a new key value pair

myphone['camera']='50MP'
myphone

{'brand': 'samsung',
 'color': 'gray',
 'model': 'iphoneX',
 'number': '7700203097',
 'camera': '50MP'}

In [17]:
# adding nested dictionary

myphone['items'] = {12345: 'Luggage Combination', 42: 'The Answer'}
myphone

{'brand': 'samsung',
 'color': 'gray',
 'model': 'iphoneX',
 'number': '7700203097',
 'camera': '50MP',
 'items': {12345: 'Luggage Combination', 42: 'The Answer'}}

In [18]:
# accessing it just like indexing in list

myphone['items'][12345]

'Luggage Combination'

# Operators in dictionary

- Comparison
- Membership
- Iteration

In [19]:
# dictionary concatenation is not possible 

mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
mypet2 = {'species': 'dog', 'age': '3', 'name': 'badal'}

mypets = mypet1 + mypet2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
# dictionary replication is not possible

mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
mypet2 = {'species': 'dog', 'age': '3', 'name': 'badal'}

mypets = mypet1 * 2

#### `==` comparing two dictionaries with same items

In [20]:
# two list with same elements at different indexes are not equal

animals1 = ['cats', 'dogs', 'moose']
animals2 = ['dogs', 'moose', 'cats']
animals1 == animals2

False

In [21]:
# two dictionaries with same elements at different indexes are equal
# as its items are not ordered just like sets

mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
mypet2 = {'species': 'dog', 'age': '3', 'name': 'badal'}
mypet1 == mypet2

True

#### `in` and `not in` operator

In [22]:
pet = {'name': 'Zophie', 'age': 7}

In [23]:
'age' in pet

True

In [24]:
# direct reference searches far keys in dictionary
# zophie is value in dict so we have to search in values

'Zophie' in pet.values()

True

# Looping in dictionaries

In [25]:
# direct reference searches far keys in dictionary
mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}

for v in mypet1:
  print(v)

name
species
age

#### values()

In [26]:
for v in mypet1.values():
  print(v)

badal
dog
3

#### keys()

In [27]:
for v in mypet1.keys():   # keys() for getting keys from dict
  print(v)

name
species
age

#### items()

In [28]:
for i in mypet1.items():
  print(i)

('name', 'badal')
('species', 'dog')
('age', '3')

In [29]:
newdict = {'color': 'red', 'city': 'pune'}

for key, value in newdict.items():
    print(key, value)
    print('Key: ' + key , ' Value: ' + value)

color red
Key: color  Value: red
city pune
Key: city  Value: pune

## Dictionary methods

### basic dict methods

#### keys( )
returns a list, containing all keys in dictionary

In [30]:
mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
print(mypet1.keys())

dict_keys(['name', 'species', 'age'])

#### values( )
returns a list containing all values in dictionary

In [31]:
mypet1.values()

dict_values(['badal', 'dog', '3'])

#### items( )
returns a list containing tuple for each keys and values pair in dictionary

In [32]:
mypet1.items()

dict_items([('name', 'badal'), ('species', 'dog'), ('age', '3')])

#### formkeys( )
Create a new dictionary with keys from iterable such as list, tuple and combined values set to value.

In [33]:
l = [2, 5, 85, 73, 57]
d = {}
d.fromkeys(l, 10)   # assign single value to all keys

{2: 10, 5: 10, 85: 10, 73: 10, 57: 10}

In [34]:
d.fromkeys(l, (10, 20, 30, 40, 50))   # assign iterable to all keys

{2: (10, 20, 30, 40, 50),
 5: (10, 20, 30, 40, 50),
 85: (10, 20, 30, 40, 50),
 73: (10, 20, 30, 40, 50),
 57: (10, 20, 30, 40, 50)}

### accessing dict values

#### get( ) 
returns value of key if key is present else return None<br>
If the key is available then returns the corresponding value otherwise returns None.It
wont raise any error<br>
 If the key is available then returns the corresponding value otherwise returns default
value.

In [35]:
# returns value of key if key is present else return None

mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
mypet1.get('name')

'badal'

In [36]:
mypet1.get('address')   # key is not present return none --> nothing to output

In [37]:
mypet1.get('address', 'pune')   # second argument is default value

# if key is not available then returns default value
# this value is not added to dict

'pune'

#### setdefault( )
returns value of the key in dictionary <br>
the second argument is a default value<br>
If the key is not available then the specified key-value will be added as new item to the 
dictionary.

In [175]:
# returns value of the key in dictionary if key is not present then default value is returned

mypet1 = {'name': 'badal', 'species': 'dog', 'age': '3'}
mypet1.setdefault('game', 'chess')

'chess'

In [176]:
mypet1

{'name': 'badal', 'species': 'dog', 'age': '3', 'game': 'chess'}

In [177]:
h = mypet1.setdefault('city', 'pune')
print(h)

pune

In [178]:
# use case of setdefault function
# to set a key and default value for a subkey in empty dictionary
data = {}
key = 'a'
subkey = 'b'
data.setdefault(key, {}).setdefault(subkey, 0)
print(data)

{'a': {'b': 0}}

### adding items to dictinary

In [179]:
d = {'name' : 'Hrutik', 'age': 23, 'address': 'pune', 'education': 'Engineering'}

In [180]:
d['gender'] = 'male'  
d

{'name': 'Hrutik',
 'age': 23,
 'address': 'pune',
 'education': 'Engineering',
 'gender': 'male'}

#### update ( )
updates a dictionary to the end of another dictionary<br>
Adds two dictionaries

In [93]:
d.update({'height': 5.7, 'weight': 65})
d

{'name': 'Hrutik',
 'age': 23,
 'address': 'pune',
 'education': 'Engineering',
 'gender': 'male',
 'height': 5.7,
 'weight': 65}

In [94]:
d.update(l) # it does not work on lists with elements

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [99]:
# works with list containing tuples with exactly two elements 
# as it considers it as (key, value)

t = [('language', 'python'), ('field','data science')]  
d.update(t) # updates t in d
d

{'name': 'Hrutik',
 'age': 23,
 'address': 'pune',
 'education': 'Engineering',
 'gender': 'male',
 'height': 5.7,
 'weight': 65,
 'language': 'python',
 'field': 'data science'}

In [102]:
# more than two elements cause ValueError

t = [('language', 'python'), ('field','data science', 'machine learning', 'business intelligence')]  
d.update(t)

ValueError: dictionary update sequence element #1 has length 4; 2 is required

In [106]:
# but in this way it is possible as it has 2 elements in tuple

t = [('language', 'python'), ('field',['data science', 'machine learning', 'business intelligence'])]  # 
d.update(t)
d

{'name': 'Hrutik',
 'age': 23,
 'address': 'pune',
 'education': 'Engineering',
 'gender': 'male',
 'height': 5.7,
 'weight': 65,
 'language': 'python',
 'field': ['data science', 'machine learning', 'business intelligence']}

#### copy ( )
creates a shallow copy of d<br>
so that creating changes in d won't affects its copy

In [119]:
d = {'name' : 'Hrutik', 'age': 23, 'address': 'pune'}
new_dict = d.copy()

In [120]:
d.update([('education', 'Engineering')])

In [121]:
print(d)
print(new_dict)

{'name': 'Hrutik', 'age': 23, 'address': 'pune', 'education': 'Engineering'}
{'name': 'Hrutik', 'age': 23, 'address': 'pune'}

### removing items from dictionary

#### pop( )
returns and removes item from the dictionary.<br>
if passed argument is not present in dict then it gives KeyError

In [125]:
# in dictionary it requires at least 1 argument
d = {'name' : 'Hrutik', 'age': 22, 'address': 'pune', 'education': 'BE(mech)'}
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [126]:
d.pop('name')

'Hrutik'

In [127]:
d

{'age': 22, 'address': 'pune', 'education': 'BE(mech)'}

#### popitem( )
returns the last inserted item in dictionary if dictionary is empty then it gives KeyError<br>
it does not take any argument

In [135]:
d = {'name' : 'Hrutik', 'age': 22, 'address': 'pune', 'education': 'BE(mech)'}
d.popitem()

('education', 'BE(mech)')

In [136]:
d.popitem()

('address', 'pune')

In [137]:
d

{'name': 'Hrutik', 'age': 22}

In [139]:
d.popitem('name')  # it does not take any argument

TypeError: dict.popitem() takes no arguments (1 given)

#### clear( )
empties the dictionary by removing all elements from it<br>
won't raise error if the dictionary is empty

In [144]:
d = {'name' : 'Hrutik', 'age': 22, 'address': 'pune', 'education': 'BE(mech)'}
d.clear()

In [145]:
d

{}

In [146]:
d.clear()

## Functions in dictionary

In [147]:
allGuests = {'Ankur': {'samosa': 5, 'jalebi': 12},
                'Vivek': {'chakli': 3, 'samosa': 2},
                'Pranav': {'chiwda': 3, 'oreo': 1}}

In [ ]:
def totalBrought(guests, food_item):
  total = 0
  for k,v in guests.items():
    total += (v.get(food_item, 0)) #.get() ---> Only works with dictionary
  return total


totalBrought(allGuests, 'samosa')

In [ ]:
totalBrought(allGuests, 'cake')

In [ ]:
totalBrought(allGuests, 'chakli')

# Dictionary comprehension
dictionary comprehension is like list comprehension.<br>
like list considers for a single element it performs operations for key:value pair<br>
just take care of syntax given below for reference

<img src='Python-dictionary-comprehension.webp' width=800px>

In [157]:
d = {num : num*num for num in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [168]:
# this comprehension provides the characters of alphabets
# chr() defines the character function returns a string of unicode characters

d = {i-64 :(chr(i+32),chr(i)) for i in range(65, 91)}
d

{1: ('a', 'A'),
 2: ('b', 'B'),
 3: ('c', 'C'),
 4: ('d', 'D'),
 5: ('e', 'E'),
 6: ('f', 'F'),
 7: ('g', 'G'),
 8: ('h', 'H'),
 9: ('i', 'I'),
 10: ('j', 'J'),
 11: ('k', 'K'),
 12: ('l', 'L'),
 13: ('m', 'M'),
 14: ('n', 'N'),
 15: ('o', 'O'),
 16: ('p', 'P'),
 17: ('q', 'Q'),
 18: ('r', 'R'),
 19: ('s', 'S'),
 20: ('t', 'T'),
 21: ('u', 'U'),
 22: ('v', 'V'),
 23: ('w', 'W'),
 24: ('x', 'X'),
 25: ('y', 'Y'),
 26: ('z', 'Z')}

In [171]:
# for converting distances from KM to Miles
distances = {'delhi':1500,'mumbai':200,'bangalore':800}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 930.0, 'mumbai': 124.0, 'bangalore': 496.0}

In [173]:
# using if condition
products = {'phone':10,'laptop':100,'charger':1,'tablet':20}

{key:value for (key,value) in products.items() if value>10}

{'laptop': 100, 'tablet': 20}

In [174]:
# Nested Comprehension
# print tables of number from 2 to 4

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}