## Introduction

- Python is a general purpose high level programming language.
- Python was developed by Guido Van Rossam in 1989 while working at National 
Research Institute at Netherlands
- But officially Python was made available to public in 1991..

#### Uses of Python
1. For developing Desktop Applications
2. For developing web Applications
3. For developing database Applications
4. For Network Programming
5. For developing games
6. For Data Analysis Applications
7. For Machine Learning
8. For developing Artificial Intelligence Applications
9. For IOT

#### Features of Python
- Simple and easy to learn
- Freeware and Open Source
- High Level Programming language
- Platform independent
- Portability
- Dynamically typed
- Supports OOPs
- Interpreted
- Extensible and Embedded
- Extensive support for libraries

#### Limitations
- Performance wise it is not upto mark
- It is slower than some of other major programming languages

## Identifiers

- A name in a python program to declare varaibels, functions, and classes.
- it helps to differentiate one entity from another.t

#### Rules to define identifiers
- Alphanumeric characters with an undersocre(_)
- It should not start with digits
- we cannot use reserved keywords as identifiers
- no special character is allowed in identifiers..
- Dollar($) symbol is not allowed in python

#### correct way to define identifiers
Identifiers can be a combination of
- letters in lowercase (a to z) or uppercase (A to Z)
- numbers (1 to 9) and
- an underscore "_"..

In [25]:
var1 = 10
_var2 = 20          # identifier with single underscore
__var3 = 30         # with double
___var4 = 40        # with triple
var_2r_ = 50

In [13]:
1var = 10 # identifiers can't start with digit.

SyntaxError: invalid decimal literal (4256868957.py, line 1)

In [18]:
var@ = 10 # special characters not allowed in identifiers

SyntaxError: invalid syntax (3954331209.py, line 1)

In [15]:
var* = 10 # special characters not allowed in identifiers

SyntaxError: invalid syntax (1478421709.py, line 1)

In [23]:
"var" = 20  # special characters not allowed in identifiers

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (818890372.py, line 1)

In [24]:
def = 'hrutik'  # reserved keywords cannot use as identifiers

SyntaxError: invalid syntax (2142728044.py, line 1)

## Variables
- A varaible is a container to store values.
- A Python variable is a reserved memory location to store values.
- A variable is created the moment you first assign a value to it.

In [26]:
name = "Hrutik"

In [27]:
age = 23

In [ ]:
country = "India"

### id()
id function returns the “identity” or "the reserved memory location" of the object.<br>
The identity of an object
- Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.

In [31]:
a = 'Hrutik'
id(a)

1497558591344

In [32]:
b = "Om"
id(b)

1497622729136

#### how variables stores a value in python

In [33]:
p = 'Hrutik' 
# creates a string object with given string assigns to "p" and pointing towards a memory location.

q = 'Hrutik'
# creates a object "q".
# as both strings are same this create an reference which will point to given string.
# hence "p" and "q" will point towards same location.

r = q
# variable "r" will also point to the same location where "p" and "q" are pointing

p, id(p)

('Hrutik', 1497558591344)

In [34]:
q, id(q)

('Hrutik', 1497558591344)

In [35]:
r, id(r)

('Hrutik', 1497558591344)

here we can see that both the variables pointing towards same location as it containing same object.

<img src="variables structure image.png">

## Reserved Words
In Python some words are reserved to represent some meaning or functionality. Such type 
of words are called Reserved word.
There are 33 reserved words available in Python.
- `Booleans:` True,False,None
- `Operators:` and, or, not, is
- `Conditionals:` if, elif, else
- `Looping:` while, for, break, continue, return, in, yield
- `Errors & Exceptions:` try, except, finally, raise, assert
- `OOPs:` class, def, pass, global, nonlocal, lambda
- `Others:` import, from, as, del, with,withs

## Data Types
There are number of datatypes in python.
These are some of the important datatypes classified accoring to subcategory
- `Text Type`:	    str
- `Numeric Types`:	int, float, complex
- `Sequence Types`:	list, tuple, range
- `Mapping Type`: 	dict
- `Set Types`:	    set, frozenset
- `Boolean Type`:	bool
- `Binary Types`:  	bytes, bytearray, memoryview
- `None Type`:	    NoneType

In [9]:
# Text/String
print('Hello World')
type('Hello World')

Hello World

str

In [13]:
# Integer
print(8)
# 1*10^308
print(1e309) # --> after 1 to the power of 309 it shows infinity in python for numeric values

8
inf

In [14]:
# Decimal/Float
print(8.55)
print(1.7e5)

8.55
170000.0

In [15]:
# complex
print(5+6j)  # in python complex numbers uses 'j' instead of 'i', because 'i' is used for various purposes in python. eg. in loops

(5+6j)

In [16]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [17]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [39]:
# range
a = range(1,10, 2)
for i in a:
    print(i)

1
3
5
7
9

In [18]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [40]:
# Sets
print({2,3,4,5,1,3,5,6,3,4})

{1, 2, 3, 4, 5, 6}

In [44]:
# frozenets --> same as sets but they are immutable
a = frozenset({2,3,4,5,1,3,5,6,3,4})
print(type(a))

<class 'frozenset'>

In [45]:
# Boolean 
print(True)
print(False)

# None
print(None)

True
False
None

##### with `type()` function in python we get the datatype of data

In [ ]:
# type ()
type([1,2,3])

### Type Conversion/Casting
There are two types of type conversion in python
#### 1. Implicit
where python automatically converts the datatype

In [22]:
print(5+5.6) # in this example addition of int and float character results a float value

10.6

#### 2. Explicit
we use type casting methods to convert datatype of a value/variable forcefully.
we use following methods to typecasting
- int()
- float()
- complex()
- bool()
- str()

only values converts which is possible unless it gives error

In [25]:
# str -> int
int("4")
# int('Hello') # Trying this won't work, but try it and have a look at error

# int to str
str(5)

# float
int(4.0)

4

### Fundamental Data Types vs Immutability
All Fundamental Data types are immutable. i.e once we creates an object,we cannot 
perform any changes in that object. If we are trying to change then with those changes  
new object will be created. This non-chageable behaviour is called immutability

In [34]:
# Python automatically reuses small integers (typically between -5 and 256) that are commonly used. 
a = 10
b = 10
print(a is b)

# This is because Python applies a similar optimization process called string interning for short strings and strings that look like identifiers (composed of letters, digits, and underscores) which are commonly used and immutable.
a = "Hrutik"
b = "Hrutik"
print(a is b)

a = True
b = True
print(a is b)

True
True
True

In [35]:
a = 10+5j
b = 10+5j
print(a is b)  # this results false because for more complex objects like floats, complex numbers, or larger integers (beyond this range (-5, 256)), Python creates separate objects in memory, so is will return False in those cases.

False

True

## Operators in Python
Operators in python used to perform some operation.
any kind of mathematical operation addition, multiplication, comparison between two values, etc.

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators
- Identity Operators

### Arithmetic Operators
used to perform arithmetic/basic mathematical operations on variables.<br>
they include operators such as:
- `+` addition
- `-` subtraction
- `*` multiplication
- `/` division --> always returns float values in results
- `%` modulo/modulus operator
- `//` floor division
- `**` exponent

In [5]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/3)

print(786//10)

print(5%3)

print(5**3)

11
-1
30
1.6666666666666667
78
2
125

### Relational Operators
relational operators returns boolean results by comparing two values based on different operations.<br>
that includes:
- `<` less than
- `<=` less than equal to 
- `>` greater than
- `>=` greater than equal to
- `==` equals to
- `!=` not equals to

In [13]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==2)

print(4!=4)

False
True
True
True
False
False

### Logical Operators
logical operators performs logical operations on two values and returns one value as result among them<br>
logical operators includes:
- `and` logical and operation
- `or` logical or operation
- `not` logical not operation

In [7]:
# Logical Operators

print(1 and 0)   # --> True and False = False
print(0 and 1)   # -->
print(1 or 0)    # -->
print(0 or 1)    # -->

print(not 0)  # not False i.e. -> True

0
0
1
1
True

### Bitwise Operators
bitwise operator works on binary number authentication.<br>
these operators are applicable only for integer and boolean types.<br>
these operator considers a number as a bit and performs operations over it.<br>
bitwise operators consists of:
- `&` bitwise and
- `|` bitwise or
- `~` bitwise not/complement operator
- `^` bitwise xor
- `<<` bitwise left shift
- `>>` bitwise right shift

In [19]:
# Bitwise Operators

# bitwise and
print(4 & 7)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 7)

print(~3)

print(4 >> 2)

print(5 << 2)

4
3
5
-4
1
20

### Assignment operators
assignment operator assigns value to the variable<br>
every arithmetic operator can be used as an assignment operator

In [9]:
# Assignment Operators

a = 5

a **= 3
# The above code is doing this operation --> a = a**3

print(a)

125

### Membership Operators
checks whether a given object is a part of collection or not. returns boolean as a result<br>
a collection can be a string, list, set, tuple or a dictionary.

In [2]:
# Membership Operators

# in/not in

print('D' in 'Delhi')

print(1 not in [2,3,4,5,6])

True
True

### Identity Operators 
identity operators used to check for address comparison<br>
we can get the address of a variable with `id()` function

In [11]:
a = 10
b = 10

print(id(a))
print(id(a))

print(a is b)

140737429226568
140737429226568
True

In [12]:
a = 10+5j
b = 10+5j
print(a is b)  # this results false because for more complex objects like floats, complex numbers, or larger integers (beyond this range (-5, 256)), Python creates separate objects in memory, so is will return False in those cases.

False

## Input and Output in python

### Input in python
input means reading the data from the keyborad.<br>

#### input()
This function always reads the data from the keyboard in the form of String Format.<br>
We have to convert that string type to our required type by using the corresponding type casting methods

In [29]:
a = input("Enter your name:")
print(a)
print(type(a))

Enter your name: 2

2
<class 'str'>

#### eval()
eval function takes a string of expression and evaluates its results without typecasting

In [31]:
eval("1+2-3*5/4**3")

2.765625

### Output in Python
output means giving value back to user or returning some value from the program that can be done with 
#### print()
print function returns a stream or an object

In [33]:
print("My name is hrutik")

My name is hrutik

In [37]:
print(1, 3, 5, 6, 2)

1 3 5 6 2

In [36]:
print(1, 3, 5, 6, 2, sep="___") # seperator parameter seperates objects by the seperator value by default its value is --> " "  space

1___3___5___6___2

In [38]:
print(1)
print(2)
print(3)

1
2
3

In [40]:
print(1, end='___') # end parameter end print statement with an \n character which is a newline character bydefault 
print(2, end='___')
print(3)

1___2___3

In [47]:
name = "Hrutik"
city = "Yavatmal"
education = "Engineering"
print("Hello my name is %s i am from %s and i am an %s graduate" %(name, city, education))

print("__________________________________________")
print("if in the above string the formatting character sequence goes wrong then it is")
print()
print("Hello my name is %s i am from %s and i am an %s graduate" %(city, education, name))

print("__________________________________________")
print("to avoid this we use fstrings")
print()
print(f"Hello my name is {name} i am from {city} and i am an {education} graduate")

Hello my name is Hrutik i am from Yavatmal and i am an Engineering graduate
__________________________________________
if in the above string the formatting character sequence goes wrong then it is

Hello my name is Yavatmal i am from Engineering and i am an Hrutik graduate
__________________________________________
to avoid this we use fstrings

Hello my name is Hrutik i am from Yavatmal and i am an Engineering graduate

## Comments
comment is a line of code that is not executed during a program execution.<br>
comments plays a vital role in developing programs as they help by providing information to the user to understand about the source code developed by the developer.<br>
There are two types of comments
#### single line 
single line comment in python written with `#` symbol. anything written after # considered as comment

In [48]:
# this code performs addition
print(2+5)

7

#### multiline comment
multiline comments written with the help of `''' comment '''` single quotes or `""" comment """` double quotes<br>
This generally used to write docstring of a function or a class

In [51]:
"""
This is 
multiline 
comment
"""  # --> docstring : writes at start of function. to give information about it.
print("Multiline comment")

Multiline comment

## triple quotes
triple quotes has different meaning in python depends on where they are used:
- if it is not accessed to a variable then it acts as a multiline comment.
- if it assigns to a variable then it acts as a multiline string.
- if it is used inside a function then it acts as a docstring.