# Tuple

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.
Hence Tuple is Read Only version of List or I call to prefer it as frozenlist.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

#### Topics to be covered
- characteristics of tuple
- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions


#### characteristics of tuple

- Ordered -> Insertion Order is preserved
- Unchangeble/immutable
- Allows duplicate
- If our data is fixed and never changes then we should go for Tuple.
- Duplicates are allowed
- Heterogeneous objects are allowed.
- We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also. Tuple support both +ve and -ve index. +ve index means forward direction(from left to right) and -ve index means backward direction(from right to left).
- We can represent Tuple elements within Parenthesis and with comma seperator.<br>
 Parenethesis are optional but recommended to use.

# Creating tuples

In [1]:
# creates an empty tuple
t1 = ()  
type(t1)

tuple

In [2]:
# values seperated by comma is also a tuple
t2 = 1, 3, 4, 5, 6, 7   
type(t2)

tuple

In [3]:
# tuple with single element
t3 = 1,   
type(t3)

tuple

In [ ]:
# homogenous
t4 = (1,2,3,4)
print(t4)

In [1]:
# hetrogenous
t5 = (1,2.5,True,[1,2,3])
print(t5)

(1, 2.5, True, [1, 2, 3])

In [4]:
# using type conversion
tuple(['cat', 'dog', 5])

('cat', 'dog', 5)

In [5]:
type(tuple(['cat', 'dog', 5]))

tuple

In [3]:
# creating tuple from a list
t6 = tuple(['cat', 'dog', 5, (True, None, 'string', 23.4)])
print(t6)

('cat', 'dog', 5, (True, None, 'string', 23.4))

# Accessing tuple items


#### Indexing

In [7]:
t = (['cat', 'dog', 5], (True, None, 'string', 23.4))
print(t[1])
print(t[1][2])
print(t[-1])

(True, None, 'string', 23.4)
string
(True, None, 'string', 23.4)

#### Slicing

In [8]:
t[:]

(['cat', 'dog', 5], (True, None, 'string', 23.4))

In [9]:
t[1][3:1:-1]

(23.4, 'string')

# Modifying Tuple items
Once we creates tuple,we cannot change its content. Hence tuple objects are immutable. We cannot Edit, Add and Delete items from tuples.<br>
Trying this things gives error

### Editing items

In [22]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)
t[0] = 100     # gives error, as it is immutable just like strings

('cat', 'dog', 5, True, None, 'string', 23.4)

TypeError: 'tuple' object does not support item assignment

to modify it we can create new tuple with required elements

In [24]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)

# to change at first index we added new item for that index and remaining tuple in a new tuple.
t1 = (100,) + tuple(t[1:])
print(t1)

('cat', 'dog', 5, True, None, 'string', 23.4)
(100, 'dog', 5, True, None, 'string', 23.4)

### Adding items

In [31]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)

t1 = t + (123, "Hrutik")
print(t1)

('cat', 'dog', 5, True, None, 'string', 23.4)
('cat', 'dog', 5, True, None, 'string', 23.4, 123, 'Hrutik')

and if we have to add an iterable to a tuple then we have to convert it to a list first and then add items and again convert back to tuple

In [53]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)

t = list(t)    # convert it to list first
t.append((123, "Hrutik"))  # then append value to it
print(tuple(t))   # convert it to tuple again

('cat', 'dog', 5, True, None, 'string', 23.4)
('cat', 'dog', 5, True, None, 'string', 23.4, (123, 'Hrutik'))

### Deleting items

In [55]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)

del t[5]

('cat', 'dog', 5, True, None, 'string', 23.4)

TypeError: 'tuple' object doesn't support item deletion

we cannot delete tuple item but we can delete an entire tuple

In [ ]:
t = ('cat', 'dog', 5, True, None, 'string', 23.4)
print(t)

del t
print(t)

# Operators on tuple

#### tuple concatenation using '+' operator

In [58]:
t1 = (1, 3, 5, 6, 4)
t2 = ('earth', 'asia', 'india', 'maharashtra', 'pune')

t3 = t1 + t2
print(t3)

(1, 3, 5, 6, 4, 'earth', 'asia', 'india', 'maharashtra', 'pune')

#### tuple replication using '*' operator

In [59]:
t4 = t1 * 2
print(t4)

(1, 3, 5, 6, 4, 1, 3, 5, 6, 4)

In [60]:
t4 = t2 * 2
print(t4)

('earth', 'asia', 'india', 'maharashtra', 'pune', 'earth', 'asia', 'india', 'maharashtra', 'pune')

In [61]:
t6 =  (21,43,76,35)
t5 = t1 * t6

TypeError: can't multiply sequence by non-int of type 'tuple'

### membership in tuple

In [65]:
# membership
print(1 in t1)
print(1 not in t1)

True
False

In [62]:
t6 or t2

(21, 43, 76, 35)

# Tuple Fucntions

In [76]:
t = (1,2,3,4)

## Common methods

#### min()

In [77]:
min(t)

1

#### max()

In [78]:
max(t)

4

#### sum()

In [79]:
sum(t)

10

#### len( )

In [66]:
T1 = ('water', 'food', 'shelter', 'mobile', 'clothes', 'food', 'one', 'food')
len(T1)

8

#### index( )

In [67]:
T1.index('shelter')

2

#### count( )

In [68]:
T1.count('food')

3

#### sorted( )

In [69]:
sorted(T1)

['clothes', 'food', 'food', 'food', 'mobile', 'one', 'shelter', 'water']

In [70]:
sorted(T1, reverse = True)

['water', 'shelter', 'one', 'mobile', 'food', 'food', 'food', 'clothes']

# Tuple Packing and Unpacking:

### Tuple Packing 
We can create a tuple by packing a group of variables

In [93]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

## Tuple unpacking
Tuple unpacking is the reverse process of tuple packing
We can unpack a tuple and assign its values to different variables

In [96]:
t=(10,20,30,40)
a,b,c,d=t
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

# Tuple Comprehensions
Tuple Comprehension is not supported by Python

In [99]:
t= (x**2 for x in range(1,6)) 
t

Here we are not getting tuple object, we are getting generator object.

In [100]:
for i in t:
    print(i)

1
4
9
16
25

# Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

#### time/speed

In [87]:
import time

L = list(range(10000000))
T = tuple(range(10000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time() - start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time() - start)

List time 1.74635648727417
Tuple time 1.6642494201660156

#### memory/size

In [88]:
import sys

L = list(range(1000000))
T = tuple(range(1000000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8000056
Tuple size 8000040

#### immutability
List and Tuple are exactly same except small difference: List objects are mutable where as Tuple objects are immutable.<br>
below example explains it:<br>
aliasing affects list but, due to immutability of tuples aliasing won't affect it.

In [91]:
a = [1,2,3]
b = a

a.append(4)  # creating changes in one list affects its reference object
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [92]:
a = (1,2,3)
b = a

a = a + (4,) # creating changes in one tuple won't affects its reference object
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

<img src="difference list tuples.png" width=700px>