# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.


## Topics to be Covered
- characteristics of set
- Properties of set
- Creating a set
- Accessing items
- Editing items
- Operations on sets
- set Functions
- Adding items
- Deleting items
- set methods/operations
- Frozenset


#### Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

#### Properties of set
- If we want to represent a group of unique values as a single entity then we should go for set.
- Duplicates are not allowed.
- Insertion order is not preserved.But we can sort the elements.
- Indexing and slicing not allowed for the set.
- Heterogeneous elements are allowed.
- Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.
- We can represent set elements within curly braces and with comma seperation
- We can apply mathematical operations like union,intersection,difference etc on set objects

# Creating Sets

In [1]:
s = {1,2,3}

In [2]:
# this creates empty dictionary not set

s1 = {}   
type(s1)

dict

In [6]:
# set() constructor is used to create the sets

s1 = set((2,3,5, 3, 7,7,4))
print(s1)    # items in set are not indexed. so, it arranges items ascendingly

{2, 3, 4, 5, 7}

In [9]:
# empty
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [20]:
# homo and hetro

# 1D 
s1 = {1,2,3}
print(s1)

# 2D 
s2 = {1,'hello',4.5,(1,2,3)}  # while adding collections in sets, make sure they are immutable either it raises an error
print(s2)

{1, 2, 3}
{1, (1, 2, 3), 'hello', 4.5}

In [21]:
s3 = {1,2,3,{4,5}}    # here it contains sets as an element and its mutable it raises error
print(s3)

TypeError: unhashable type: 'set'

In [22]:
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [23]:
# duplicates not allowed, if inserted they automatically eleminated
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [24]:
# same with the case of strings

String = 'Hrutik Hrutik'  
set1 = set(String)
print("Set with the use of an Object: " )
print(set1)

Set with the use of an Object:
{'k', 't', 'H', ' ', 'i', 'r', 'u'}

# Modifying sets
### Accessing items
As set is unordered it won't support indexing and slicing.

In [29]:
s1 = {1,2,3,4}  # doesn't support indexing
s1[0]

TypeError: 'set' object is not subscriptable

In [30]:
s1 = {1,2,3,4}   # doesn't support slicing
s1[0:4]

TypeError: 'set' object is not subscriptable

### Editing Items

In [31]:
s1 = {1,2,3,4}   # doesn't support editing
s1[0] = 100

TypeError: 'set' object does not support item assignment

# Operators in sets
- Arithmetic
- comparison
- identity
- membership

#### `+`, `*` operators

In [32]:
s1={1,2,3,2,4}  
s2={1,2,2,1,4,3}

In [34]:
s3 = s1 + s2  # set concatenation is not possible using  '+' operator

TypeError: unsupported operand type(s) for +: 'set' and 'set'

s2 = s1 * 2   # replication is not possible in sets

#### comparing `==` two sets with same items 
Sets and lists with comparison<br>
As the set is unordered, the random positioning of elements considered it as same object even though it is differnet.<br>
While the list is an ordered collection, so positioning of elements is there, which defines it as different collections.

In [35]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [36]:
l1 = [1,2,3]  
l2 = [3,2,1]

print(l1 == l2)

False

#### `is` and `not is` operators

In [41]:
s1={1,2,3,2,4}  
s2={1,2,2,1,4,3}

In [42]:
print(id(s1))
print(id(s2))

s1 is s2

1974698259424
1974698258528

False

#### `in` and `not in` operators

In [43]:
1 in s1

True

In [44]:
5 not in s2

True

# Sets methods/Functions
### common methods

#### len()

In [ ]:
len('hello')

5

#### count()

In [ ]:
count=0
for i in 'hello':
  count+=1
print(count)

5

### Adding elements to sets

#### add( )
Adds item x to the set

In [49]:
# adds single element in the set

s2={1, 2, 3, 2}
s2.add(31)
print(s2)

{1, 2, 3, 31}

In [50]:
# adds an iterable as a single element

s2={1, 2, 3, 2}
s2.add((31,36,796,75))
print(s2)

{1, 2, 3, (31, 36, 796, 75)}

#### update( )
- To add multiple items to the set.
- Arguments are not individual elements
- these are Iterable objects like List,range etc.
- All elements present in the given Iterable objects will be added to the set.

In [53]:
# adds the iterable to the set 

s2={1,2,4,6,6,5,4,3,2,2}
l = ['hrutik', 33, 53,7]

s2.update(l)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 33, 'hrutik', 53}

In [55]:
# if we try to add single element using update, it will raise error

s2={1, 2, 3, 2}
s2.update(31)
print(s2)

TypeError: 'int' object is not iterable

#### copy( )
Returns copy of the set.<br>
It is cloned object

In [ ]:
# copies the set

s2={1,2,4,6,6,5,4,3,2,2}
s2.copy()

{1, 2, 3, 4, 5, 6}

### removing elements from set

#### remove( )
It removes specified element from the set.<br>
If the specified element not present in the Set then we will get KeyError

In [58]:
s2={1,2,4,6,6,5,4,3,2,2}
s2.remove(2)
print(s2)     # 2 is removed here

{1, 3, 4, 5, 6}

In [64]:
s2.remove(2)     # as 2 is not there raises keyerror
print(s2)

KeyError: 28

#### discard( )
It removes the specified element from the set.<br>
If the specified element not present in the set then we won't get any error.

In [62]:
s2={1,2,4,6,6,5,4,3,2,2}
s2.discard(2)
print(s2)

{1, 3, 4, 5, 6}

In [65]:
s2.discard(2)
print(s2)    # as 2 is already removed but also it will not raise error

{1, 3, 4, 5, 6}

#### clear ( )
To remove all elements from the Set.

In [67]:
# empties the set

s2={1,2,4,6,6,5,4,3,2,2}
s2.clear()
print(s2)

set()

#### pop( )
It removes and returns some random element from the set

In [56]:
s2={1,2,4,6,6,5,4,3,2,2}
s2.pop()    # in sets pop does not take any argument

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s2

{1, 2, 3, 4, 5, 6}

### Sets methods

In [81]:
s1 = {53, 65, 74, 24, 2, 5, 86, 72}
s2 = {1, 2, 4, 6, 6, 5, 4, 673, 86, 2, 2}
s3 = {256, 575, 673, 758, 86, 5, 74, 53}

#### union()
return all elements present in both sets<br>
This can also be done with `|` bitwise or operator

In [82]:
# return a set containing union of two or more sets

s1.union(s2)

{1, 2, 4, 5, 6, 24, 53, 65, 72, 74, 86, 673}

In [83]:
s1 | s2 # the union can be done with the help of bitwise or '|' operator

{1, 2, 4, 5, 6, 24, 53, 65, 72, 74, 86, 673}

In [84]:
s1.union(s2, s3)   # multiple sets can be passed to union

{1, 2, 4, 5, 6, 24, 53, 65, 72, 74, 86, 256, 575, 673, 758}

In [85]:
s1 | s2 | s3

{1, 2, 4, 5, 6, 24, 53, 65, 72, 74, 86, 256, 575, 673, 758}

#### intersection( )
Returns common elements present in both sets<br>
This can also be done with `&` bitwise and operator

In [86]:
# returns the set cotaining intersecting elements from two or more sets

s1.intersection(s3)

{5, 53, 74, 86}

In [87]:
s1.intersection(s2, s3)

{5, 86}

In [88]:
s1 & s2  # the  intersection can be done with the help of bitwise and '&' operator

{2, 5, 86}

In [89]:
s1 & s2 & s3

{5, 86}

#### difference( )
returns the elements present in x but not in y<br>
this can also be done with the `-` subtraction of operator

In [ ]:
# returns the set containing the elements that are not in other set

s1.difference(s2)

{24, 53, 65, 72, 74}

In [ ]:
s2 - s1 - s3 # this can also be done with the subtraction of operator

{1, 4, 6}

In [91]:
s1.difference(s2,s3)

{24, 65, 72}

#### symmetric_difference( ))
`union - intersection` operation<br>
Returns elements present in either set1 or set2 but not in both<br>
this can also be done with `^` bitwise xor operator

In [93]:
# returns union - intersection from all the sets

s1.symmetric_difference(s2)

{1, 4, 6, 24, 53, 65, 72, 74, 673}

In [94]:
s1 ^ s2 ^ s3 # this can also be done with bitwise xor operator '^'

{1, 4, 5, 6, 24, 65, 72, 86, 256, 575, 758}

In [95]:
s1.symmetric_difference(s2 ,s3) # this takes only one argument

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

### Sets updates methods

In [ ]:
s1 = {53, 65, 74, 24, 2, 5, 86, 72}
s2 = {1, 2, 4, 6, 6, 5, 4, 673, 86, 2, 2}
s3 = {256, 575, 673, 758, 86, 5, 74, 53}

#### intersection_update ( )
update the set by keeping only those elements that found in both the sets

In [ ]:
s1.intersection_update(s2)
print(s1)   # updates the set s1

{2, 5, 86}

#### difference_update ( )
updates the set by removing elements that found in other set

In [ ]:
s2.difference_update(s3)
print(s2)

{1, 2, 4, 6}

#### symmetric_difference_update ( )
updates the set by keeping only those elments that found in either set, but not in both sets

In [ ]:
s1.symmetric_difference_update(s2)
print(s1)

{65, 1, 673, 4, 6, 72, 74, 53, 24}

### Other set methods

In [96]:
a = {53, 65, 74, 24, 2, 5, 86, 72}
b = {53, 65, 2}
s2 = {1, 2, 4, 6, 6, 5, 4, 673, 86, 2, 2}

#### issubset ( )
returns boolean if set1 is subset of set2 --> True

In [98]:
b.issubset(a)   # all the elements in a is in set b

True

In [5]:
a.issubset(b)

False

#### issuperset ( )
returns boolean if a is superset of b

In [6]:
a.issuperset(b)     # all the elements in a is in set b

True

In [7]:
b.issuperset(a)

False

# Set comprehension
Syntax of set comprehension is same as list comprehension

In [99]:
s = {i**2 for i in range(1,10)}
s

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [100]:
S1 = {i**2 for i in range(1,21)} # set comprehension
S1

{1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400}

In [102]:
{n for n in range(11)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [103]:
{a % 3 for a in range(1000)}

{0, 1, 2}

# Frozenset
Frozen set is just an immutable version of a Python set object<br>
just like we can call tuple as an immutable version of a python list object over which we can perform all read operations but we can't perform write operations over that.

what works and what does not
- works -> all read functions
- does't work -> write operations

In [105]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [106]:
# When to use --> When have to use set operations inside the set object
# 2D sets     --> as set object requires immutable objects inside it.

s = set([1,2,frozenset([3,4])])   # by using this we can use a set like object inside set
s

{1, 2, frozenset({3, 4})}